/** HEADER **/
body{
    padding: 0;
    margin: 0;
}
/**** NAV **/
.menu-hamburger {
    display: none;
}
/****** NAV container **/

.img-logo{
    height: 3em;
    width: 3em;
    padding: 0.5em 1em;
    z-index: 1;
}

.custom-nav {
    height: 2em;
}

.img-hamburger {
    height: 1.5em;
    width: 1.5em;
}

@media (max-width: 47.999em) {

 

    .menu-hamburger {
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
        padding: 0.25em 1em;
    }

    .custom-nav {
        display: flex!important;
        justify-content: center;
    }

    .custom-link-nav {
        display: none!important;
    }

    .pad-top-2 {
        padding-top: 2em;
    }

    .custom-list-center {
        text-align: center;
    }

    .custom-navbar {
        position: relative;
    }
}